# Ignore build and dependency files
bin/
obj/
node_modules/
.vscode/
.idea/
logs/
*.log
*.mdf
*.ldf
*.db
npm-debug.log
.next
.git
.github
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
README.md
.DS_Store
*.md
