{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 50,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "jsxSingleQuote": false,
    "bracketSameLine": false,
    "jsxBracketSameLine": false,
    "proseWrap": "preserve",
    "overrides": [
        {
            "files": [
                "*.ts",
                "*.tsx",
                "*.js",
                "*.jsx"
            ],
            "options": {
                "printWidth": 50,
                "tabWidth": 2,
                "semi": true,
                "singleQuote": true,
                "trailingComma": "es5",
                "bracketSpacing": true,
                "arrowParens": "always",
                "endOfLine": "auto",
                "jsxSingleQuote": false,
                "bracketSameLine": false,
                "jsxBracketSameLine": false,
                "proseWrap": "preserve"
            }
        },
        {
            "files": [
                "*.css",
                "*.scss",
                "*.module.css",
                "*.module.scss"
            ],
            "options": {
                "printWidth": 90,
                "tabWidth": 2,
                "singleQuote": true,
                "semi": true
            }
        },
        {
            "files": [
                "*.json"
            ],
            "options": {
                "printWidth": 100,
                "tabWidth": 2,
                "singleQuote": false,
                "semi": false
            }
        },
        {
            "files": [
                "*.md"
            ],
            "options": {
                "printWidth": 80,
                "tabWidth": 2,
                "singleQuote": true,
                "semi": false,
                "proseWrap": "always"
            }
        }
    ]
}