.starterLayout {
  padding: 20px;
  width: 1200px;
  max-width: 100%;
  background-color: #fff;
}

.starterTitle {
  margin-bottom: 10px;
  font-weight: bold;
}

.starterPackageDetails {
  margin-bottom: 15px;
  color: #666;
}

.starterPrice {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.starterCheckoutButton {
  background-color: #3182ce!important;
  color: white!important;
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 8px;
  cursor: pointer;
}