.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  border-radius: 6;
  background-color: transparent; 
}

.gridContainer{
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  border-radius: 6;
  background-color: #ffffff; 
}

.rightColumn {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading {
  margin-bottom: 16px;
  font-weight: bold;
  color: #333;
}

.packageIcon {
  width: 35px !important;
  height: 35px !important;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 6px;
  font-weight: 900;
  background: #3182ce;
  color: #ffffff;
  border: 2px solid #3182ce;
  border-radius: 50%;
  padding: 4px;
}

.description {
  margin-bottom: 16px;
  color: #666;
  font-size: 14px !important;
}

.enterpriseBox {
  border: 2px solid #3182ce;
  margin-top: 16px;
  border-radius: 6px;
  padding: 5px;
  text-align: center;
  margin-bottom: 16px;
}

.enterpriseBoxLabel {
  font-size: 0.9rem;
  color: #666;
  display: block;
  margin-bottom: 8px;
}

.enterpriseBoxAmount {
  color: #333;
  font-weight: bold;
}

.testPeriod {
  color: #666;
}

.summaryItem {
  margin-bottom: 8px;
  color: #666;
}

.continueButton {
  background-color: #3182ce !important;
  color: white !important;
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
  border-radius: 6px;
  margin-top: 20px !important;
  text-transform: none !important;
}


.multiCurrencyBox {
  margin-top: 16px;
  padding: 6px;
  border-radius: 6px;
  background-color: #f4f4f489;
}

.multiCurrencyLabel {
  font-size: 15px !important;
  color: #333;
  margin-bottom: 8px;
  font-weight: bold !important;
  text-transform: capitalize;
}

.multiCurrencyItem {
  margin-right: 16px;
  color: #333;
}

.multiCurrencyPrice {
  font-size: 13px !important;
}
