/* Global styles */

/*
These styles were causing issues with dialogs
.MuiDialogContent-root.css-kw13he-MuiDialogContent-root {
  display: none !important;
}

.MuiDialog-root .MuiDialog-container .MuiPaper-root {
  background-color: transparent !important;
  box-shadow: none !important;
}
*/
