/* Global styles */

/* Override for MuiDialogContent-root */
.MuiDialogContent-root.css-kw13he-MuiDialogContent-root {
  display: none !important;
}

/* Hide any unwanted dialog content */
.MuiDialog-root .MuiDialog-container .MuiPaper-root {
  background-color: transparent !important;
  box-shadow: none !important;
}
