.successMessageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

.successMessageContainer {
  position: relative;
  background-color: #ffffff;
  width: 450px;
  border-radius: 0;
  text-align: center;
  padding: 50px 40px;
  animation: fadeIn 0.3s ease-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.successIconContainer {
  width: 70px;
  height: 70px;
  background-color: #2563eb;
  border-radius: 50%;
  margin: 0 auto 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: popIn 0.5s ease-in-out forwards;
}

.successIcon {
  color: #ffffff;
  font-size: 36px !important;
}

.closeButton {
  position: absolute !important;
  top: 16px;
  right: 16px;
  color: #666666;
}

.successTitle {
  color: #111827;
  font-size: 26px !important;
  font-weight: 600 !important;
  margin-bottom: 12px;
}

.successText {
  color: #4b5563;
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 1.5;
  flex-wrap: nowrap;
}

.successMessageActions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 10px;
  width: 100%;
}

@keyframes fadeIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  60% {
    transform: scale(1.1);
    opacity: 0.9;
  }

  80% {
    transform: scale(0.95);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

:global(.checkmark-animation) {
  animation: wiggle 1.5s ease-in-out 0.5s;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(5deg);
  }
}
