.container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 1200px;
  background: #ffffff;
  margin-top: -2rem;
  border-radius: 10px;
  margin-bottom: 4rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 2rem;
}

.detailItem {
  display: flex;
  align-items: flex-start;
  text-align: start;
}

.currencyItem {
  align-items: center;
  text-align: start;
}

.currencyItemPrice {
  align-items: start;
}

.featureItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-weight: 600;
  font-size: 16px;
}

.selectedFeature {
  padding: 6px;
}

.purchaseSummary {
  flex-wrap: nowrap!important;
}

.featureDescriptionContainer {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.infoIcon {
  margin-right: 0.5rem;
  color: #64748b;
}

.featureDescription {
  margin-top: 0.5rem;
  color: #3b82f6;
  font-size: 14px;
}

.emptyState {
  text-align: center;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stepContent {
  width: 845px;
  min-height: 400px;
  padding: 2rem 0;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.stepContent::-webkit-scrollbar {
  display: none;
}

.usageItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  background-color: #ffffff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 calc(50% - 1rem);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.usageItem:hover {
  background-color: #f8fafc;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.textField {
  margin-top: 0.5rem;
}

.controls {
  display: flex;
  margin-top: -2rem;
  gap: 1rem;
  padding: 2rem; 
  border-radius: 0 0 12px 12px; 
}

.btnControls {
  width: 150px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.review::-webkit-scrollbar {
  display: none;
}

.priceSummary {
  background-color: #f1f5f9;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: start;
}

.section {
  background-color: #f8fafc;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
}

.loading {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #64748b;
}

.featureName {
  font-weight: 800!important;
  font-size: 20px;
}

.buttonContainer {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 0 0 12px 12px;
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 1rem;
}

.sectionHeader {
  margin-bottom: 1rem;
}

.sectionDescription {
  color: #64748b;
  margin-top: 0.5rem;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.modal-buttons .button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-buttons .button:hover {
  background-color: #0056b3;
}

.modal-buttons .button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.currencyContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  padding: 40px;
  border-radius: 8px;
  background-color: #f8fafc;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.currencyLabel {
  font-weight: 500;
  text-align: start;
}

.currencyOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.currencyItem {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.currencyItemPrice {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.testPeriodItem {
  display: flex;
  align-items: flex-start;
  text-align: start;
}

.purchaseSummaryContainer {
  width: 300px;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  margin-top: 1rem;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 16px;
}

.billingItem {
  display: flex;
  justify-content: space-between;
  background-color: #3b82f65e;
  color: #000000;
  border-radius: 2px;
  padding: 9px;
  margin-bottom: 8px;
}

.itemLabel {
  font-weight: 500;
  font-size: 14px!important;
}

.itemPrice {
  font-weight: 900!important;
}

.divider {
  margin: 16px 0;
}

.userAgreement {
  margin-bottom: 16px;
}

.userAgreementText {
  margin-top: 4px;
  color: #666;
  font-size: 0.9rem;
}

.totalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #ccc;
}

.totalLabel {
  font-weight: bold;
}

.totalPrice {
  font-weight: 900!important;
}

.userAgreementLink {
  font-weight: 900!important;
  font-size: 10px;
  color: #000000bc;
  text-decoration: underline;
}

.addOnsfeatureButton{
  min-width: 450px!important;
}

