.customLayout {
  padding: 20px;
  width: 1200px !important;
  max-width: 100%;
  background-color: #fff;
}

.title {
  margin-bottom: 10px;
  font-weight: bold;
}

.packageDetails {
  margin-bottom: 15px;
  color: #666;
}

.packagePrice {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.checkoutButton {
  background-color: #3182ce !important;
  color: white !important;
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 8px;
  cursor: pointer;
}
