.customLayout {
  padding: 20px;
  width: 1200px ;
  max-width: 100%;
  background-color: #fff;
}

.customTitle  {
  margin-bottom: 10px;
  font-weight: bold;
}

.customPackageDetails  {
  margin-bottom: 15px;
  color: #666;
}

.customPrice  {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.customCheckoutButton  {
  background-color: #3182ce;
  color: white;
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 8px;
  cursor: pointer;
}