.heroContainer__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #f4f4f4;
}

.heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding: 3rem 1rem;
  gap: 2rem;
}

.heroTextSection {
  flex: 1;
  max-width: 600px;
}

.heroTextSection h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  white-space: nowrap;
}

.highlightedText {
  color: #4287f5;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  display: inline;
}

.emphasis {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.2;
  background: linear-gradient(135deg, #1a1a1a 0%, #333333 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.heading {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 1.5rem;
  letter-spacing: -0.02em;
  color: #1a1a1a;
}

.subheading {
  font-size: 1.125rem;
  line-height: 1.7;
  color: #4b5563;
  margin-bottom: 2rem;
  max-width: 600px;
  font-weight: 400;
}

.heroTextSection p {
  font-size: 1.125rem;
  line-height: 1.8;
  color: #4b5563;
  margin-bottom: 2rem;
  max-width: 600px;
  font-weight: 400;
  white-space: pre-line;
}

.heroSubheading {
  font-size: 1.125rem !important;
  line-height: 1.8 !important;
  color: #4b5563 !important;
  margin-bottom: 2rem;
  max-width: 600px;
  font-weight: 400 !important;
  letter-spacing: 0.2px;
  text-align: left;
}

.heroSubheading br {
  display: block;
  content: "";
  margin-top: 1rem;
}

.heroButtons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.heroBtnPrimary {
  background-color: #3b82f6 !important;
  color: #fff;
  font-weight: bold !important;
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.heroLinkSecondary {
  color: #1c2331 !important;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  margin-left: 20px !important;
}

.heroLinkSecondary:hover {
  color: #1c2331;
}

.heroImageSection {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroLadyImage {
  border-radius: 8px;
  z-index: 1;
  animation: float 3s ease-in-out infinite;
  /* Added animation */
}

.heroPhoneImage {
  position: absolute;
  bottom: -20px;
  right: -20px;
  z-index: 2;
}

.heroIconCart {
  position: absolute;
  top: -10px;
  right: 50px;
  z-index: 3;
}

.heroIconDiscount {
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 3;
}

.heroLadyImage,
.heroPhoneImage,
.heroIconCart,
.heroIconDiscount {
  object-fit: cover;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}