.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  border-radius: 6;
  background-color: transparent; 
}

.gridContainer{
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  border-radius: 6;
  background-color: #ffffff; 
}

.leftColumn {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  max-height: 400px; 
  overflow-y: auto; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.leftColumn::-webkit-scrollbar {
  display: none;
}

.rightColumn {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading {
  margin-bottom: 19px;
  font-weight: bolder!important;
  color: #000000;
  font-size: 1.5rem!important;
}

.packageIcon {
  width: 35px!important; 
  height: 35px!important; 
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 6px;
  font-weight: 900;
  background: #1976d2;
  color: #ffffff;
  border: 2px solid #1976d2;
  border-radius: 50%;
  padding: 4px;
}

.description {
  margin-bottom: 16px;
  color: #666;
  font-size: 14px!important;
}

.premiumBox {
  border: 2px solid #1976d2;
  margin-top: 16px;
  border-radius: 6px;
  padding: 5px;
  text-align: center;
  margin-bottom: 16px;
}

.premiumBoxLabel {
  font-size: 0.9rem;
  color: #666;
  display: block;
  margin-bottom: 8px;
}

.premiumBoxAmount {
  color: #333;
  font-weight: bold;
}

.testPeriod {
  color: #666;
  margin-top: 9px!important;
}

.summaryItem {
  margin-bottom: 8px;
  color: #666;
}

.continueButton {
  background-color: #1976d2;
  color: #ffffff;
  margin-top: 20px !important;
  font-weight: bold !important;
  text-transform: none !important;
  border-radius: 6px !important;
  padding: 12px 0 !important;
}

.multiCurrencyBox {
  margin-top: 16px;
  padding: 6px;
  border-radius: 6px;
  background-color: #f4f4f489;
}

.multiCurrencyLabel {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
  font-weight: bold !important;
  font-size: 15px!important;
  text-transform: capitalize;
}

.multiCurrencyItem {
  margin-right: 16px;
  color: #333;
}

.multiCurrencyPrice{
  font-size: 13px!important;
}

