.sliderContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}


.slideItem {
    background: #fff;
    border: 1px solid #3b83f62d;
    border-radius: 8px;
    text-align: center;
    padding: 2.3rem;
    margin: 0 20px;
    width: 300px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconWrapper {
    margin-bottom: 1rem;
}

.icon {
    width: 48px;
    font-size: 1.8rem;
    height: auto;
    color: #3b82f6;
}

.title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
}

.description {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.5;
}


.slick-dots {
    bottom: -30px;
}

.slick-dots li button:before {
    font-size: 10px;
    color: #bbb;
}

.slick-dots li.slick-active button:before {
    color: #333;
}